div {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

#sendLetter{
    margin-top: 2%;
    background-color: rgb(227, 229, 231);
    color: rgb(0, 0, 0);
}

.label {
    font-size: x-large;

}

textArea {
    width:700px;
    height: 300px;
    margin-bottom: 1%;
    background-color: rgb(255, 255, 255);
}

.field {
    width: 200px;
}

.topic {
    display: flex;
    flex-direction: row;
}

#head {
    display: flex;
    flex-direction: row;
}