div {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

#sendLetter{
    margin-top: 2%;
    background-color: rgb(227, 229, 231);
    color: rgb(0, 0, 0);
}

.label {
    font-size: x-large;

}

textArea {
    width:700px;
    height: 300px;
}

.field {
    width: 200px;
}

.topic {
    display: flex;
    flex-direction: row;
}

.letterBox {
    background-color: rgb(143, 175, 235);
    width: 690px;
    margin-left: -40px;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
}

li {
    list-style-type: none;
}